{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body style="top:0; left:0; height: 100%; width: 100%; position: absolute;">
    <div class="back" style="height: 100%; width: 100%; display: flex;">
      <div class="container" style="margin:auto; text-align: center;">
        <h1 class="login_header">Image Repo</h1>
        <h2 class="login_subheader">Login with your account or create an account <a href="/signup" style="text-decoration: none;">here</a></h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form class="login" method="POST" action="">
          {% csrf_token %}
          <div class="row pad">
            <input type="text" class="form-control" name="username" required="required" placeholder="username"/>
          </div>
          <div class="row pad">
            <input type="password" class="form-control" name="password" required="required" placeholder="password"/>
          </div>
          <div class="row pad submit">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>